{% extends 'base.html' %}

{% block page_title %}
{% if boardtype == 'free' %}
    Free board
{% else %} 
    Clan board
{% endif %}
{% endblock %}

{% block content %}
<div class="d-flex flex-row-reverse action-btn-group">
    {% if 'user' in session %}
        <a href="/boards/{{ boardtype }}/new/" class="btn btn-outline-dark">Create New Post</a>
    {% else %}
        <a href="/login/" class="btn btn-outline-dark">Login to Create New Post</a>
    {% endif %}
</div>

<!-- Notice posts -->
<h2>Notices</h2>
<table class="table table-hover caption-top">
    <thead>
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-5">Title</th>
            <th scope="col-2">Writer</th>
            <th scope="col-3">Date</th>
            <th scope="col-1">Viewcount</th>
        </tr>
    </thead>
    <tbody>
        {% for post in notice_posts %}
            <tr>
                <td class="col"> {{post['post_id']}}</td> 
                <td class="col">{{post['title']}}</td>
                <td class="col">{{post['service_user']['nickname']}}</td>
                <td class="col">{{post['createDatetime']}}</td>
                <td class="col">{{post['viewCount']}}</td>
            </tr>
        {% else %}
        <tr>
            <td class="text-center" colspan="5">
                There are no notice.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- All posts -->
<h2>All posts</h2>
<table class="table table-hover caption-top">
    <thead>
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-5">Title</th>
            <th scope="col-2">Writer</th>
            <th scope="col-3">Date</th>
            <th scope="col-1">Viewcount</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr {% if post['isNotice'] %}class="bg-info" {% endif %}>
                <td class="col"> {{post['post_id']}}</td> 
                <td class="col">{{post['title']}}</td>
                <td class="col">{{post['service_user']['nickname']}}</td>
                <td class="col">{{post['createDatetime']}}</td>
                <td class="col">{{post['viewCount']}}</td>
            </tr>
        {% else %}
        <tr>
            <td class="text-center" colspan="5">
                There are no posts.
                <a href="/boards/{{ boardtype }}/new/">Write a post</a> and be the first author. 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}