{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablelist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clans.css') }}">
{% endblock %}

{% block page_title %}Clans{% endblock %}

{% block content %}
{% if session.get('user') and session['user'].get('clanID') %}
<h1 id="my-clan-info">
  <small>Hello,</small> <strong class="rainbow-text">{{ session['user']['nickname'] }}</strong><br>
  <small>Your clan is</small> <strong>{{ my_clan['name'] }}</strong>
  <small>with</small> <strong>{{ my_clan['popular'] }}</strong> <small>members</small><br>
  <small>and clan leader is</small>
  {% if my_clan['leader_id'] == session['user']['service_user_id'] %} {# login user is clan leader #}
    <strong>YOU</strong>!
  {% else %}
    <strong class="rainbow-text">{{ my_clan['leader']['nickname'] }}</strong>
  {% endif %}
</h1>
{% elif session.get('user') %} {# user logged in but, has not clan #}
<div class="d-flex flex-row-reverse action-btn-group">
  <a href="/clans/new/" class="btn btn-outline-dark">Create New Clan</a>
</div>
<div class="alert alert-dark">
  You have not a clan. Create new clan or join below list :)
</div>
{% else %}
<div class="d-flex flex-row-reverse action-btn-group">
  <a href="/login/" class="btn btn-outline-dark">Login to create new clan</a>
</div>
{% endif %}

<table class="table table-hover caption-top">
  <caption>Clan List</caption>
  <thead>
    <tr>
      <th scope="col">Clan ID</th>
      <th scope="col">Name</th>
      <th scope="col">Leader</th>
      <th scope="col">Popular</th>
    </tr>
  </thead>
  <tbody>
    {% for clan in clans %}
    <tr onclick="onClickClan({{ clan['clan_id'] }})">
      <td class="col-1"> {{clan['clan_id']}}</th>
      <td class="col-5">{{clan['name']}}</td>
      <td class="col-3">{{clan['leader']['nickname']}}</td>
      <td class="col-3">{{clan['popular']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block script %}
<script>
  const onClickClan = (clanID) => {
    location.href = '/clans/' + clanID + '/';
  }
</script>
{% endblock %}