{% extends 'base.html' %}

{% block content %}

{% if session.get('user') and session['user'].get('clanID') != None %}
<div class="container"> <!--이건 또 어떻게 해야할지 논의 필요-->
  <div class="row">
    <div class="col-2">
        Clan ID
    </div>
    <div class="col">
        {{myclan['clanID']}} <!-- Dictionary for test -->
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Name
    </div>
    <div class="col">
      {{myclan['name']}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Leader
    </div>
    <div class="col">
      {{myclan['leader']}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Users
    </div>
    <div class="col">
      {{mymembers|length}}
    </div>
  </div>
</div>
{% endif %}

<table class="table table-hover caption-top">
  <caption>Clan List</caption>
  <thead>
    <tr>
      <th scope="col">Clan ID</th>
      <th scope="col">Name</th>
      <th scope="col">Leader</th>
      <th scope="col">Date</th>
      <th scope="col">Popular</th>
    </tr>
  </thead>
  <tbody>
    {% for clan in clans %}
    <tr onclick = "location.href = '{{clan['clanID']}}/'">
      <td class="col-1"> {{clan['clanID']}}</th> <!-- Dictionary for test -->
      <td class="col-5">{{clan['name']}}</td>
      <td class="col-3">{{clan['leader']}}</td>
      <td class="col-3">{{clan['users']|length}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}