{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-2">
            Game ID
        </div>
        <div class="col">
            {{game['gameID']}}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Name
        </div>
        <div class="col">
            {{game['Name']}}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Score
        </div>
        <div class="col">
            {{game['score']}}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Tags
        </div>
        <div class="col">
            {% for tag in tags %}
            <span class="badge rounded-pill bg-secondary">{{tag['name']}}</span>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Review write -->
<form method="POST" action="/games/{{gameID}}/reviews/">
    <div class="mb-3">
        <label for="score" class="form-label">Score of Game</label>
        <select class="form-select" id="score" name="score">
            {% for i in [5,4,3,2,1]%}
            <option value="i">{{i}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Review</label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Review view-->
{% if reviews != None %}
<table class="table caption-top">
    <caption>Reviews ({{reviews|length}})</caption>
    <thead>
    <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Score</th>
        <th scope="col">Review</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <td class="col-2">{{review['nickname']}}</td> <!-- 리뷰 작성자의 nickname -->
        <td class="col-1">{{review['score']}}</td>
        <td class="col-7">{{review['content']}}</td>
        <td class="col-2">{{review['createDatetime']}}</td>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock contents %}