{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablelist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gamedetail.css') }}">
{% endblock %}

{% block before_content %}
<div
    id="background-img"
    alt="game image"
    style="background-image:url('https://steamcdn-a.akamaihd.net/steam/apps/{{ game['gameID'] }}/library_hero.jpg')"
>
    <div class="container">
        <h1 id="game-title">{{ game['name'] }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="content-box">
        <div class="row">
            <div class="col-2">
                <strong>Score</strong>
            </div>
            <div class="col">
                {% if review_avg_star %}
                    {{ '%.2f'|format(review_avg_star) }}
                {% else %}
                    <i>No scores exist yet </i>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <strong>Tags</strong>
            </div>
            <div class="col">
                {% for tag in tags %}
                <span class="badge rounded-pill bg-secondary">{{tag['name']}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>

{% if 'user' in session %}
<h2>Please leave a review for the game </h2>
<!-- Review write -->
<form method="POST" action="/games/{{ game['gameID'] }}/reviews/">
    <div class="mb-3">
        <label for="score" class="form-label">Score of Game</label>
        <select class="form-select" id="score" name="score">
            {% for i in [5,4,3,2,1]%}
            <option value="{{i}}">
                {% for _ in range(i) %}★{% endfor %}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Review</label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark">Write review</button>
</form>
{% endif %}

<!-- Review view-->
{% if reviews %}
<table class="table caption-top">
    <caption>Reviews ({{reviews|length}})</caption>
    <thead>
    <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Score</th>
        <th scope="col">Review</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td class="col-2">{{review['service_user']['nickname']}}</td>
            <td class="col-1">{{review['score']}}</td>
            <td class="col-7">{{review['content']}}</td>
            <td class="col-2">{{review['createDatetime']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}