{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablelist.css') }}">
{% endblock %}

{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">GameID</th>
      <th scope="col">
        Name
        <span class="sort-btn-group">
          <a href="?sort=name&order=asc"><i class="bi bi-caret-up"></i></a>
          <a href="?sort=name&order=desc"><i class="bi bi-caret-down"></i></a>
        </span>
      </th>
      <th scope="col">
        Popularity
        <span class="sort-btn-group">
          <a href="?sort=popular&order=asc"><i class="bi bi-caret-up"></i></a>
          <a href="?sort=popular&order=desc"><i class="bi bi-caret-down"></i></a>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr id="game-{{ game['gameID'] }}" class="table-link-item" onclick="onClickGame({{ game['gameID'] }})">
      <td class="col-1"> {{game['gameID']}}</th>
      <td class="col-7">{{game['name']}}</td>
      <td class="col-4">{{game['popular']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block script %}
<script>
  const onClickGame = (gameID) => {
    location.href = '/games/' + gameID + '/';
  }
</script>
{% endblock %}