{% extends 'base.html' %}

{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">GameID</th>
      <th scope="col">Name<a href="?sort=name&order=asc">▲</a><a href="?sort=name&order=desc">▼</a></th>
      <th scope="col">Users<a href="?sort=popular&order=asc">▲</a><a href="?sort=popular&order=desc">▼</a></th> <!-- popular 을 users로 하긴 했는데, dictionary의 key 에 관해서는 어떻게 해야할지 몰라서 무지성 작명했어요-->
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr onclick = "location.href = '{{game['gameID']}}/'">
      <td class="col-1"> {{game['gameID']}}</th>
      <td class="col-7">{{game['name']}}</td>
      <td class="col-4">{{game['users']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}