{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/boards/{{boardtype}}/new/"> <!-- Action 에 이게 맞는지? -->
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
    </div>
    {% if session.get('user') and session['user'].get('isAdmin') %}
    <div class="mb-3">
        <label for="isNotice" class="form-label">Notice</label>
        <input type="checkbox" class="form-control" id="isNotice" name="isNotice" required>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}