{% extends 'base.html' %}

{% block content %}

<a href="new/" class="btn btn-primary">Create</a>

 {% if session.get('user') %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">PartyID</th>
        <th scope="col">Name<a href="?sort=name&order=asc">▲</a><a href="?sort=name&order=desc">▼</a></th>
        <th scope="col">Game<a href="?sort=game&order=asc">▲</a><a href="?sort=game&order=desc">▼</a></th>
        <th scope="col">Leader</th>
        <th scope="col">Date<a href="?sort=date&order=asc">▲</a><a href="?sort=date&order=desc">▼</a></th>
        <th scope="col">Users<a href="?sort=popular&order=asc">▲</a><a href="?sort=popular&order=desc">▼</a></th>
      </tr>
    </thead>
    <tbody>
      {% for myparty in myparties %}
      <tr onclick = "location.href = '{{myparty['partyID']}}/'">
        <td class="col-1"> {{myparty['partyID']}}</td> <!-- Dictionary for test -->
        <td class="col-5">{{myparty['name']}}</td>
        <td class="col-5">{{myparty['game']}}</td>
        <td class="col-2">{{myparty['leader']}}</td>
        <td class="col-2">{{myparty['date']}}</td>
        <td class="col-2">{{myparty['users']}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">PartyID</th>
        <th scope="col">Name<a href="?sort=name&order=asc">▲</a><a href="?sort=name&order=desc">▼</a></th>
        <th scope="col">Game<a href="?sort=game&order=asc">▲</a><a href="?sort=game&order=desc">▼</a></th>
        <th scope="col">Leader</th>
        <th scope="col">Date<a href="?sort=date&order=asc">▲</a><a href="?sort=date&order=desc">▼</a></th>
        <th scope="col">Users<a href="?sort=popular&order=asc">▲</a><a href="?sort=popular&order=desc">▼</a></th>
    </tr>
  </thead>
  <tbody>
    {% for party in parties %}
    <tr onclick = "location.href = '{{party['partyID']}}/'">
      <td class="col-1"> {{party['partyID']}}</td> <!-- Dictionary for test -->
      <td class="col-5">{{party['name']}}</td>
      <td class="col-5">{{party['game']}}</td>
      <td class="col-2">{{party['leader']}}</td>
      <td class="col-2">{{party['date']}}</td>
      <td class="col-2">{{party['users']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}