{% extends 'base.html' %}

{% block content %}

<button type="button" class="btn btn-primary" onclick="location.href = 'new/'">Create</button>

<p>
<button type="button" class="btn btn-primary" onclick="location.href = '?sort=name&order=asc'">Name</button>  
<button type="button" class="btn btn-primary" onclick="location.href = '?sort=date&order=asc'">Date</button>
<button type="button" class="btn btn-primary" onclick="location.href = '?sort=game&order=asc'">Game</button>  
<button type="button" class="btn btn-primary" onclick="location.href = '?sort=popular&order=asc'">Popular</button>
</p>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">PartyID</th>
        <th scope="col">Name</th>
        <th scope="col">Leader</th>
        <th scope="col">Date</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      {% for myparty in myparties %}
      <tr onclick = "location.href = '{{myparty['partyID']}}/'">
        <td class="col-1"> {{myparty['partyID']}}</th> <!-- Dictionary for test -->
        <td class="col-5">{{myparty['name']}}</td>
        <td class="col-2">{{myparty['leader']}}</td>
        <td class="col-2">{{myparty['date']}}</td>
        <td class="col-2">{{myparty['users']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">PartyID</th>
      <th scope="col">Name</th>
      <th scope="col">Leader</th>
      <th scope="col">Date</th>
      <th scope="col">Popular</th>
    </tr>
  </thead>
  <tbody>
    {% for party in parties %}
    <tr onclick = "location.href = '{{party['partyID']}}/'">
      <td class="col-1"> {{party['partyID']}}</th> <!-- Dictionary for test -->
      <td class="col-5">{{party['name']}}</td>
      <td class="col-2">{{party['leader']}}</td>
      <td class="col-2">{{party['date']}}</td>
      <td class="col-2">{{party['users']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}