{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablelist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/partydetail.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-title-group">
        <h1 class="page-title">
            Party#{{ party['partyID']}}
            <small>{{ party['name'] }}</small>
        </h1>
    </div>
    <h1>
        <small>Party Leader is</small>
        <strong class="rainbow-text">{{ party['leader']['nickname'] }}</strong>
        <small>and we will play </small>
        <strong>{{ party['game']['name'] }}</strong><br>
        <small>at </small>
        <strong>{{ party['playStartDatetime'].strftime('%Y-%m-%d %H:%M') }}</strong><br>
        <small>We have </small> <strong>{{ party['popular'] }}</strong> <small>member{% if party['popular'] > 1 %}s{% endif %}</small>
    </h1>
    {% if session.get('user') %}
        {% if not is_my_party %}
        <a href="join/" class="btn btn-primary">Join</a>
        {% else %}
        <a href="secession/" class="btn btn-primary">Secession</a>
        {% endif %}
    {% endif %}
    <table id="member-list" class="table">
        <thead>
          <tr>
            <th class="col-9" scope="col">Nickname</th>
          </tr>
        </thead>
        <tbody>
            {% for user in members %}
            <tr class="table-link-item" onclick="onClickUser({{ user['service_user_id'] }});">
                <td>{{user['nickname']}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}

{% block script %}
<script>
  const onClickUser = (userID) => {
    location.href = '/users/' + userID + '/';
  }
</script>
{% endblock %}