{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablelist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
{% endblock %}

{% block top_content %}
<a href="/boards/{{ boardtype }}/">&lt; Back to Post List</a>
{% endblock %}

{% block page_title %}
{% if boardtype == 'free' %}
This is free board
{% else %}
This is clan board
{% endif %}
{% endblock %}

{% block content %}
<div id="post-content">
  <div id="meta-box">
    <div>
      <strong id="post-title">
        {{ post['title'] }}
      </strong>
    </div>
    <div>
      <a class="writer" href="/users/{{ post['service_user']['service_user_id'] }}/">@{{ post['service_user']['nickname'] }}</a>
      Written at {{ post['create_datetime'].strftime('%Y-%m-%d %H:%M:%S') }}
    </div>
  </div>

  <div id="content-box" class="card">
    <div class="card-body">
      {{ post['content'] }}
    </div>
  </div>

  <div id="thumbs-box">
    <a href="/boards/{{boardtype}}/{{postid}}/thumbsup" class="btn btn-outline-primary">
      <i class="bi bi-hand-thumbs-up"></i> {{post['thumbsUp']}}
    </a>
    <a href="/boards/{{boardtype}}/{{postid}}/thumbsdown" class="btn btn-outline-danger">
      <i class="bi bi-hand-thumbs-down"></i> {{post['thumbsDown']}}
    </a>
  </div>
</div>
{% if session.get('user') %}
<form method="POST" action="/boards/{{boardtype}}/{{postid}}/comments/"> 
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark">Leave comment</button>
</form>
{% endif %}
{% if comments %}
{% for comment in comments %}
<div class="card comment">
  <div class="card-header">
    <a class="writer" href="/users/{{ post['service_user']['service_user_id'] }}/">@{{ comment['service_user']['nickname'] }}</a>
    Written at {{ comment['create_datetime'].strftime('%Y-%m-%d %H:%M:%S') }}
  </div>
  <div class="card-body">
    {{ comment['content'] }}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}